footer {
  background-color: rgb(154, 148, 131);
  padding-top: 10px;
  width: 100%;
  bottom: 0px;
  height: 70px;
  left: 0px;
  right: 0px;
}
.section-2 {
  color: rgb(59, 57, 57);
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.redes{
  display: flex;
  justify-content: space-around;
}