header {
  background-color: rgb(170, 164, 146);
  width: 100%;
  div {
    nav {
      display: flex;
      flex-direction: row;
      background-color: rgb(170, 164, 146) k;
      flex-wrap: wrap;
      padding-left: 0.5rem;
      height: 4rem;

      ul {
        display: flex;
        flex-direction: row;
        background-color: rgb(170, 164, 146);
        flex-wrap: wrap;
        padding-left: 0.5rem;
        height: 4rem;

        .menu {
          color: #020005;
          font-size: 18px;
          font-family: "Oswald";
          padding: 12px 26px;
          list-style: none;
          margin-top: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            color: #080808;
          }
        }
      }
    }
  }
}
